     <!-- footer section start -->
     <footer class="dark-footer footer-style-1 footer-theme-color">
        <section class="section-b-space darken-layout">
            <div class="container">
                <div class="row footer-theme partition-f">
                    <div class="col-lg-4 col-md-6 sub-title">
                        <div class="footer-title footer-mobile-title">
                            <h4>about</h4>
                        </div>
                        <div class="footer-content">
                            <a href="/" class="footer-logo d-block"><img
                                    src="/files/logo_white.png" alt=""></a>
                            <p>
                              Transform your living space with Upmega Furniture's exquisite range of modern, luxurious pieces, 
                              crafted to bring comfort and style to every Kenyan home.
                            </p>
                            <ul class="contact-list">
                                <li><i class="ri-map-pin-2-fill"></i>UPM LTD
                                </li>
                                <li><i class="ri-phone-fill"></i>Call Us: 123-456-7898</li>
                                <li><i class="ri-mail-fill"></i>Email Us: <a href="#!">Support@Multikart.com</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-6">
                        <div class="sub-title">
                            <div class="footer-title">
                                <h4>my account</h4>
                            </div>
                            <div class="footer-content">
                                <ul>
                                    <li><a href="#!">mens</a></li>
                                    <li><a href="#!">womans</a></li>
                                    <li><a href="#!">clothing</a></li>
                                    <li><a href="#!">accessories</a></li>
                                    <li><a href="#!">featured</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-6">
                        <div class="sub-title">
                            <div class="footer-title">
                                <h4>information</h4>
                            </div>
                            <div class="footer-content">
                                <ul>
                                    <li><a href="#!">shipping & return</a></li>
                                    <li><a href="#!">secure shopping</a></li>
                                    <li><a href="#!">gallery</a></li>
                                    <li><a href="#!">affiliates</a></li>
                                    <li><a href="#!">contacts</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="sub-title">
                            <div class="footer-title">
                                <h4>follow us</h4>
                            </div>
                            <div class="footer-content">
                                <p class="mb-cls-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                                    do eiusmod tempor incididunt
                                    ut labore</p>
                                <form class="form-inline">
                                    <div class="form-group me-sm-3 mb-2">
                                        <label for="inputPassword2" class="sr-only">Password</label>
                                        <input type="password" class="form-control" id="inputPassword2"
                                            placeholder="Enter Your Email">
                                    </div>
                                    <button type="submit" class="btn btn-solid mb-2">subscribe</button>
                                </form>
                                <div class="footer-social">
                                    <ul>
                                        <li>
                                            <a href="https://www.facebook.com/">
                                                <i class="ri-facebook-fill"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://www.google.com/">
                                                <i class="ri-google-fill"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://www.twitter.com/">
                                                <i class="ri-twitter-x-fill"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://www.instagram.com/">
                                                <i class="ri-instagram-fill"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://www.tiktok.com/">
                                                <i class="ri-tiktok-fill"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="sub-footer dark-subfooter">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-md-6 col-sm-12">
                        <div class="footer-end">
                            <p><i class="ri-copyright-line"></i> 2025. UPM Ltd.</p>
                        </div>
                    </div>
                    <div class="col-xl-6 col-md-6 col-sm-12">
                        <div class="payment-card-bottom">
                            <img src="../assets/images/payment.png" class="img-fluid" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer section end -->
  
  