
      <!-- header start -->
      <header class="header-christmas video-header">
        <div class="mobile-fix-option"></div>
        <div class="top-header">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="header-contact">
                            <ul>
                                <li> <i class="ri-mail-fill"></i>Email: sales@upmega.co.ke</li>
                                <li><i class="ri-phone-fill"></i>Call Us: 123 - 456 - 7890</li>
                            </ul>
                        </div>
                    </div>
                    <!-- <div class="col-lg-4 text-end">
                        <ul class="header-dropdown">
                            <li class="mobile-wishlist"><a href="#!"><i class="ri-heart-line"></i></a>
                            </li>
                            <li class="onhover-dropdown mobile-account"> <i class="ri-user-fill"></i>
                                My Account
                                <ul class="onhover-show-div">
                                    <li><a href="login.html">Login</a></li>
                                    <li><a href="register.html">register</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div> -->
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="main-menu">
                        <div class="menu-left">
                            <div class="brand-logo">

                              <a href="/"><img src="/files/logo_white.png" style="height: calc(60px + (34 - 25) * ((100vw - 320px) / (1920 - 320)))"
                                class="img-fluid blur-up lazyload" alt=""></a>
                            </div>
                        </div>
                        <div>
                            <nav id="main-nav">
                                <div class="toggle-nav"><i class="ri-bar-chart-horizontal-line sidebar-bar"></i></div>
                                <ul id="main-menu" class="sm pixelstrap sm-horizontal">
                                    <li class="mobile-box">
                                        <div class="mobile-back text-end">Menu<i class="ri-close-line"></i></div>
                                    </li>
                                    <li><a href="/">Home</a></li>
                                    <li><a href="/about">About Us</a></li>
                                    <li class="mega hover-cls">
                                        <a href="/products">Our Products</a>
                                        <ul class="mega-menu full-mega-menu">
                                            <li>
                                                <div class="container">
                                                    <div class="row g-xl-4 g-0">

                                                        <div class="col mega-box">
                                                            <div class="link-section">
                                                                <div class="menu-title">
                                                                    <h5>Series One Sofas</h5>
                                                                </div>
                                                                <div class="menu-content">
                                                                    <ul>
                                                                        <li>
                                                                            <a href="product-page(thumbnail).html">Series 1 - 1 Seater</a>
                                                                        </li>
                                                                        <li>
                                                                            <a href="product-page(4-image).html">Series 1 - 2 Seater</a>
                                                                        </li>
                                                                        <li>
                                                                            <a href="product-page(slider).html">Seires 1 - 3 Seater</a>
                                                                        </li>
                                                                        <li>
                                                                            <a href="product-page(accordian).html">Series 1 - 2 Seater Console </a>
                                                                        </li>
                                                                        <li>
                                                                            <a href="product-page(sticky).html"> Series 1 - 32C1 Seater</a>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="col mega-box">
                                                            <div class="link-section">
                                                                <div class="menu-title">
                                                                    <h5>Series Two Sofas</h5>
                                                                </div>
                                                                <div class="menu-content">
                                                                    <ul>
                                                                        <li>
                                                                            <a href="product-page(thumbnail).html">Series 2 - 1 Seater</a>
                                                                        </li>
                                                                        <li>
                                                                            <a href="product-page(4-image).html">Series 2 - 2 Seater</a>
                                                                        </li>
                                                                        <li>
                                                                            <a href="product-page(slider).html">Seires 2 - 3 Seater</a>
                                                                        </li>
                                                                        <li>
                                                                            <a href="product-page(accordian).html">Series 2 - 2 Seater Console </a>
                                                                        </li>
                                                                        <li>
                                                                            <a href="product-page(sticky).html"> Series 2 - 32C1 Seater</a>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>


                                                    </div>
                                                    <div class="row">
                                                        <div class="col-12">
                                                            <img src="../assets/images/menu-banner.jpg" alt=""
                                                                class="img-fluid mega-img d-xl-block d-none">
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </li>
                                    <li><a href="/contact">Contact Us</a></li>
                                </ul>
                            </nav>
                        </div>
                        <div class="menu-right pull-right">
                            <div>
                                <div class="icon-nav">
                                    <ul>
                                        <li class="onhover-div mobile-search">
                                            <a href="/visit-us" class="btn btn-solid">  Visit Our Showroom</a>
                                        </li>
                                
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- header end -->